<div class="h-screen">
  <div class="h-3/4 flex items-center justify-center">
    <h1 class="italic text-3xl">MONEYGEM</h1>
  </div>
  <div class="mx-auto w-11/12 flex flex-col items-center">
    <%= link_to "Log in", new_user_session_path, class: "my-2 h-10 flex items-center justify-center w-full bg-[#3778c2] text-white hover:bg-white hover:text-gray-400 " %>
    <%= link_to "Sign up", new_user_registration_path, class: "my-2 h-10 flex items-center justify-center w-full text-gray-400 hover:text-[#3778c2] hover:bg-white" %>
  </div>
</div>
